.Input {
  margin: auto;
  padding-bottom: 20px;
  input {
    padding: 10px;
    border: none;
    outline: none;
    color: #333;
  }
  .search {
    padding: 10px;
    border: none;
    outline: none;
    color: #333;
    cursor: pointer;
    background: #ccc;
  }
}
