@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Code Pro';
}

.App {
  text-align: center;
  margin-top: 20px;
  .Form {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    input {
      margin-right: 20px;
      width: 200px;
      border: solid 2px #000;
      padding: 10px;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 10px 15px;
      background: #94d82d;
      color: #fff;
      font-size: 18px;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .Foods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Food {
      display: flex;
      img {
        border: solid 5px #94d82d;
        border-radius: 50%;
      }
    }
  }
}
