@media (min-width: 768px) and (max-width: 992px) {
  .App {
    .SignUp {
      width: 60%;
    }
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .App {
    .SignUp {
      width: 50%;
    }
  }
}

@media (min-width: 1200px) {
  .App {
    .SignUp {
      width: 40%;
      small {
        opacity: 0.7;
      }
    }
  }
}
